openapi: 3.0.3

info:
  title: Fee Calculator Microservice
  version: 4.0.0
  description: Fee Calculator for Multi-channel Integration Layer of SW Client Project
  contact:
    name: Antonio Tarricone
    email: antonio.tarricone@pagopa.it

servers:
  - description: DEV
    url: https://mil-d-apim.azure-api.net/mil-fee-calculator

paths:
  /fees:
    # ------------------------------------------------------
    # Calculates the fee amount for a set of payment notices
    # ------------------------------------------------------
    post:
      operationId: getFee
      summary: Calculates the fee amount for a set of payment notices
      security:
        - ApiKeyAuth: [ ]
        - oAuth2: [ getFee ]
      parameters:
        - $ref: 'common.yaml#/components/parameters/RequestId'
        - $ref: 'common.yaml#/components/parameters/Version'
        - $ref: 'common.yaml#/components/parameters/AcquirerId'
        - $ref: 'common.yaml#/components/parameters/Channel'
        - $ref: 'common.yaml#/components/parameters/MerchantId'
        - $ref: 'common.yaml#/components/parameters/TerminalId'
      requestBody:
        $ref: '#/components/requestBodies/GetFee'
      responses:
        "200":
          $ref: '#/components/responses/FeeFound'
        "400":
          $ref: 'common.yaml#/components/responses/Error'
        "401":
          description: Access token is missing or invalid
        "403":
          description: Forbidden
        "404":
          description: Fee not found
        "406":
          description: Not acceptable. Did you require application/json?
        "415":
          description: Unsupported media type. Did you provide application/json?
        "429":
          description: Too many request
        "500":
          $ref: 'common.yaml#/components/responses/Error'
        default:
          description: Unexpected error

components:
  # ========================================================
  # Schemas
  # ========================================================
  schemas:
    PaymentNotice:
      description: Payment notice data
      type: object
      additionalProperties: false
      properties:
        amount:
          $ref: 'common-payment-notice.yaml#/components/schemas/EuroCents'
        paTaxCode:
          $ref: 'common-payment-notice.yaml#/components/schemas/PaTaxCode'
        transfers:
          type: array
          maxItems: 5
          items:
            $ref: 'common-payment-notice.yaml#/components/schemas/Transfer'
      required:
        - amount
        - paTaxCode
        - transfers
      example:
        amount: 12345
        paTaxCode: "15376371009"
        transfers:
          - paTaxCode: "15376371009"
            category: "KTM"

  # ========================================================
  # Request bodies
  # ========================================================
  requestBodies:
    GetFee:
      description: Request to get fee
      content:
        application/json:
          schema:
            description: Request to get fee
            type: object
            additionalProperties: false
            properties:
              paymentMethod:
                $ref: 'common-payment-notice.yaml#/components/schemas/PaymentMethod'
              notices:
                type: array
                maxItems: 5
                items:
                  $ref: '#/components/schemas/PaymentNotice'
            required:
              - paymentMethod
              - notices
            example:
              paymentMethod: "PAGOBANCOMAT"
              notices:
                - amount: 12345
                  paTaxCode: "15376371009"
                  transfers:
                    - paTaxCode: "15376371009"
                      category: "KTM"

  # ========================================================
  # Responses
  # ========================================================
  responses:
    FeeFound:
      description: Fee found
      content:
        application/json:
          schema:
            type: object
            additionalProperties: false
            properties:
              fee:
                $ref: 'common-payment-notice.yaml#/components/schemas/EuroCents'
            required:
              - fee
            example:
              fee: 50

  # ========================================================
  # Security schemes
  # ========================================================
  securitySchemes:
    oAuth2:
      $ref: 'common.yaml#/components/securitySchemes/oAuth2'

    ApiKeyAuth:
      $ref: 'common.yaml#/components/securitySchemes/ApiKeyAuth'